<!DOCTYPE html>
<html>
<head>
  <title>TrelloCards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="https://trello.com/1/client.js?key=dbaf008eabec02f406a5fdd67684780b"></script>
</head>
<body>

<%= yield %>

</body>
</html>
